.navbar {

    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.navbarMenu {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    font-size: 18px;
}

.navbarActions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbarActions img {
    width: 30px;
}

.navbarActions button {
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
}

.navbarActions button:hover {
    background-color: tomato;
    color: white;
    transition: all 0.3s ease-in-out;
}

.active {
    color: tomato;
    font-weight: bold;
}

.navbar li {
    cursor: pointer;
}

.basketIcon {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width : 1050px) {
    .logo {
        width: 140px;
    }

    .navbarMenu {
        gap: 20px;
        font-size: 17px;
    }

    .navbarActions {
        gap: 15px;
    }

    .navbarActions img {
        width: 25px;
    }

    .dot {
        min-width: 8px;
        min-height: 8px;
        top: -7px;
        right: -7px;
    }

    .navbarActions button {
        font-size: 14px;
        padding: 8px 25px;
    }
}

@media (max-width : 900px) {
    .logo {
        width: 130px;
    }

    .navbarMenu {
        gap: 15px;
        font-size: 16px;
    }
    
    .navbarActions {
        gap: 10px;
    }

    .navbarActions img {
        width: 20px;
    }

    .dot {
        min-width: 7px;
        min-height: 7px;
        top: -5px;
        right: -5px;
    }

    .navbarActions button {
        font-size: 12px;
        padding: 6px 20px;
    }
}

@media (max-width : 800px) {
    .navbarMenu {
        display: none;
    }
}